@use "../base/variables" as *;

.approach {
  &_conteiner {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 60px;

    @media (width < $to-tablet-width) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding-bottom: 40px;
    }

    & > .card {
      width: calc((100% - 24px * 2) / 3);

      @media (width < $to-tablet-width) {
        width: calc((100% - 20px) / 2);
      }

      @media (width < $to-mobile-width) {
        width: 100%;
      }
    }
  }
}
