@use "../base/variables" as *;

.doubt {
  --doubt-height: 597px;

  & .section_title {
    font-size: 60px;
    padding-bottom: 0;

    @media (width < $to-tablet-width) {
      font-size: 52px;
    }

    @media (width < $to-mobile-width) {
      font-size: 32px;
    }
  }

  &_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 40px;
    width: calc(1200px + 80px * 2);
    height: calc(var(--doubt-height) + 100px * 2);
    background-image: url("/assets/images/doubt-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 80px center;
    overflow: visible;

    @media (width < $minidesc-width) {
      margin: 0 auto 100px;
      width: 834px;
      height: 580px;
      background-image: url("/assets/images/doubt-tb.png");
      background-position: left top;
      background-size: 834px;
    }

    @media (width < 775px) {
      margin: 0 auto 100px;
      width: 755px;
      height: 570px;
      background-image: url("/assets/images/doubt-775.png");
      background-position: left top;
      background-size: 755px 573.5px;
    }

    @media (width < $to-mobile-width) {
      margin: 0 auto 80px;
      width: 483px;
      height: 566.5px;
      background-image: url("/assets/images/doubt-500.png");
      background-position: left top;
      background-size: 483px 566.5px;
    }

    @media (width < $mobile-width) {
      margin: 7px auto 80px;
      width: 410px;
      height: 566.5px;
      background-image: url("/assets/images/doubt-mb.png");
      background-position: left top;
      background-size: 410px 566.5px;
    }
  }

  &_subconteiner {
    margin-left: calc(80px + 40px);
    padding: 16px;
    width: 896px;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;

    @media (width < $minidesc-width) {
      margin-top: 123px;
      margin-left: 60px;
      margin-bottom: 32px;
      width: 682px;
      height: 382px;
    }

    @media (width < 775px) {
      margin-top: 100px;
      margin-left: 30px;
      width: 436px;
      height: 433px;
    }

    @media (width < $to-mobile-width) {
      margin-top: 100px;
      margin-left: 14px;
      width: 343px;
      height: 429px;
    }

    @media (width < $mobile-width) {
      max-width: calc(100dvw - var(--mobile-padding) * 2);
    }
  }

  &_title {
    padding-bottom: 24px;
    font-family: var(--header-font);
    font-size: 52px;
    font-weight: 500;
    color: var(--text-dark);

    @media (width < $minidesc-width) {
      font-size: 42px;
    }

    @media (width < 775px) {
      padding-bottom: 16px;
      font-size: 32px;
    }

    @media (width < $to-mobile-width) {
      font-size: 24px;
    }
  }

  &_subtitle {
    padding-bottom: 32px;
    font-size: 32px;
    color: var(--text-dark);

    @media (width < $minidesc-width) {
      font-size: 24px;
    }

    @media (width < 775px) {
      padding-bottom: 24px;
      font-size: 18px;
    }
  }

  &_desk {
    padding-bottom: 32px;
    font-size: 24px;
    color: var(--text-medium);
    flex-grow: 1;

    @media (width < $minidesc-width) {
      font-size: 20px;
    }

    @media (width < 775px) {
      font-size: 16px;
    }
  }
}
