@use "../mixins/typography" as *;
@use "../mixins/utils" as *;
@use "../base/variables" as *;

.first {
  --first-height: 946px;

  margin-top: 150px;

  //   margin-bottom: 104px;
  height: var(--first-height);
  padding: 115px 0;
  background-image: url("/assets/images/glass.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  &_conteiner {
    height: calc(var(--first-height) - 115px * 2);
    padding: 15px 165px 15px 0;
  }

  //     height: var(--first-height);
  //     display: flex;
  //     flex-flow: row nowrap;
  //     align-items: center;
  //     justify-content: space-between;

  //     @media (width < $to-mobile-width) {
  //       flex-direction: column;
  //     }
  //   }

  //   &_info {
  //     width: 700px;
  //     flex-shrink: 0;
  //     margin-top: -20px;

  //     @media (width < $to-tablet-width) {
  //       width: 500px;
  //       margin-top: 30px;
  //     }

  //     @media (width < $to-mobile-width) {
  //       width: 100%;
  //       margin-top: 225px;
  //     }
  //   }

  &_title {
    padding-bottom: 16px;
    font-family: var(--header-font);
    font-size: 60px;
    font-weight: 500;
    color: var(--text-dark);

    // @media (width < $to-mobile-width) {
    //   max-width: 340px;
    //   padding-bottom: 24px;
    // }
  }

  &_subtitle {
    padding-bottom: 32px;
    font-family: var(--header-font);
    font-size: 52px;
    font-weight: 500;
    color: var(--text-dark);

    // @media (width < $to-mobile-width) {
    //   max-width: 340px;
    //   padding-bottom: 24px;
    // }
  }

  &_desk {
    padding-bottom: 32px;
    font-family: var(--body-font);
    font-size: 32px;
    font-weight: 400;
    color: var(--text-dark);

    //     @media (width < $to-tablet-width) {
    //       padding-bottom: 40px;
    //     }

    //     @media (width < $to-mobile-width) {
    //       @include body-18-regular;

    //       padding-bottom: 32px;
    //     }
    //   }
  }

  &_text {
    padding-bottom: 60px;
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 400;
    color: var(--text-medium);
  }

  &_subtext {
    padding-bottom: 32px;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-medium);
  }
}
