@use "../mixins/typography" as *;
@use "../mixins/utils" as *;
@use "../base/variables" as *;

.first {
  --first-height: 720px;

  &_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 46px auto 26px;
    width: calc(1200px + 80px * 2);
    height: calc(var(--first-height) + 115px * 2);
    background-image: url("/assets/images/home-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 80px center;
    overflow: visible;

    @media (width < $desctop-width) {
      margin-top: 0;
      margin-left: 60px;
      width: 1320px;
      height: 930px;
      background-size: 1320px;
      background-position: left center;
    }

    @media (width < $minidesc-width) {
      justify-content: flex-start;
      margin: 100px auto;
      width: 854px;
      height: 681px;
      background-image: url("/assets/images/home-tb.png");
      background-size: cover;
    }

    @media (width < 775px) {
      width: 741px;
      height: 679px;
      background-image: url("/assets/images/home-775.png");
      background-size: 755px 762px;
      background-position: left bottom;
    }

    @media (width < $to-mobile-width) {
      margin-top: 24px;
      width: 500px;
      height: 679px;
      background-image: url("/assets/images/home-500.png");
      background-size: 483px 696.5px;
      background-position: left bottom;
      margin-bottom: 75px;
    }

    @media (width < $mobile-width) {
      // margin-top: 24px;
      width: 416px;
      height: 696.5px;
      background-image: url("/assets/images/home-mb.png");
      background-size: 416px 696.5px;
      background-position: left top;
    }
  }

  &_subconteiner {
    margin-left: calc(80px + 40px);
    padding: 16px;
    width: 896px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // border: 1px solid black;

    @media (width < $desctop-width) {
      margin-left: 40px;
      width: 896px;
      height: 610px;
    }

    @media (width < $minidesc-width) {
      margin-top: 45px;
      margin-left: 60px;
      width: 680px;
      height: 602px;
    }

    @media (width < 775px) {
      margin-top: 26px;
      margin-left: 32px;
      width: 440px;
      height: 620px;
    }

    @media (width < $mobile-width) {
      margin-top: 100px;
      margin-left: 16px;
      width: 343px;
      height: 561px;
    }
  }

  &_title {
    padding-bottom: 16px;
    font-family: var(--header-font);
    font-size: 60px;
    font-weight: 500;
    color: var(--text-dark);

    // @media (width < $to-mobile-width) {
    //   max-width: 340px;
    //   padding-bottom: 24px;
    // }
    @media (width < $minidesc-width) {
      font-size: 52px;
    }

    @media (width < $to-mobile-width) {
      font-size: 32px;
    }
  }

  &_subtitle {
    padding-bottom: 32px;
    font-family: var(--header-font);
    font-size: 52px;
    font-weight: 500;
    color: var(--text-dark);

    @media (width < $minidesc-width) {
      font-size: 42px;
    }

    @media (width < 775px) {
      font-size: 24px;
    }

    @media (width < $to-mobile-width) {
      padding-bottom: 24px;
    }
  }

  &_desk {
    padding-bottom: 32px;
    font-family: var(--body-font);
    font-size: 32px;
    font-weight: 400;
    color: var(--text-dark);

    @media (width < $minidesc-width) {
      font-size: 24px;
    }

    @media (width < 775px) {
      font-size: 18px;
    }

    @media (width < $to-mobile-width) {
      padding-bottom: 24px;
    }
  }

  &_text {
    flex-shrink: 1;
    padding-bottom: 60px;
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 400;
    color: var(--text-medium);

    @media (width < $minidesc-width) {
      font-size: 18px;
    }

    @media (width < 775px) {
      font-size: 16px;
      padding-bottom: 40px;
    }
  }

  &_subtext {
    padding-top: 16px;
    padding-bottom: 32px;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-medium);
  }
}
