@use "../mixins/index" as *;
@use "../base/variables" as *;

.header {
  @include flex-between;

  position: sticky;
  top: 24px;
  z-index: 100;
  padding: 24px;
  margin: 0 auto;
  max-width: calc(var(--desctop-width) - 2 * var(--desctop-padding));
  width: calc(100% - 2 * var(--desctop-padding));
  border:
    rgb(255 255 255 / 5%),
    solid 1px;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 1%);
  backdrop-filter: blur(30px);
  box-shadow: var(--card-shadow);
  transition: all 200ms ease-in;

  &:hover,
  &:has(.open) {
    background-color: rgb(255 255 255 / 100%);
    backdrop-filter: blur(0);
  }

  @media (width < $desctop-width) {
    width: calc(100% - 2 * var(--tablet-padding));
  }

  @media (width < $to-tablet-width) {
    top: 0;
    width: 100%;
    padding: 24px 60px;
  }

  @media (width < $to-mobile-width) {
    margin: 0;
    width: 100%;
    padding: 24px var(--mobile-padding);
  }

  &_logo {
    object-fit: contain;

    @media (width < $mobile-width) {
      width: 193px;
      height: 20px;
    }
  }

  &_nav {
    position: relative;
  }

  &_list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    list-style: none;

    @media (width < $to-tablet-width) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      top: 36px;
      right: 0;
      padding: 24px;
      z-index: 10;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
      border-radius: 10px;
      background: var(--white);
      box-shadow: var(--card-shadow);

      &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        animation: fade-in-scale;
        animation-duration: 300ms;
        animation-timing-function: ease-out;
      }

      &.close {
        animation: fade-out-scale;
        animation-duration: 300ms;
        animation-timing-function: ease-in;
      }
    }

    @media (width < $to-mobile-width) {
      width: 100vw;
      right: -16px;
      max-width: 375px;
    }
  }

  &_sublist {
    list-style: none;

    @media (width >= $to-tablet-width) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      top: 50px;
      left: -50%;
      padding: 16px;
      z-index: 100;
      border-radius: 12px;
      background-color: var(--white);
      box-shadow: var(--card-shadow);

      &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        animation: fade-in-scale;
        animation-duration: 200ms;
        animation-timing-function: ease-out;
      }

      &.close {
        animation: fade-out-scale;
        animation-duration: 200ms;
        animation-timing-function: ease-in;
      }
    }

    @media (width < $to-tablet-width) {
      overflow: hidden;
      min-height: 0;
      height: 0;
      opacity: 1;
      transform-origin: top;
      transform: scaleY(0);

      &.open {
        opacity: 1;
        transform: scaleY(100%);
        height: 100%;
        animation: slide-down;
        animation-duration: 200ms;
        animation-timing-function: ease-in;
      }

      &.close {
        animation: slide-up;
        animation-duration: 200ms;
        animation-timing-function: ease-in;
      }
    }
  }

  &_link {
    &--icon {
      position: relative;
      padding-left: 36px;

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        left: 10px;
        mask-image: url("/assets/icon/icon.svg");
        mask-size: 71px 14px;
        mask-repeat: no-repeat;
        background-color: var(--text-medium);
      }

      &:hover::before {
        background-color: var(--accent-orange);
      }
    }

    &[href*="books"] {
      &::before {
        mask-position: calc(0 * 28px) center;
      }
    }

    &[href*="scoro"] {
      &::before {
        mask-position: calc((-1) * 28px) center;
      }
    }

    &[href*="nasbot"] {
      &::before {
        mask-position: calc((-2) * 28px) center;
      }
    }

    @media (width < $minidesc-width) {
      font-size: 16px;
    }

    @media (width < $to-tablet-width) {
      color: var(--text-dark-500);
      font-size: 16px;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
    }
  }

  &_item {
    &:has(.header_sublist) {
      position: relative;
    }

    @media (width < $to-tablet-width) {
      width: 180px;
      border-bottom: 1px solid var(--body-text-30, rgb(107 114 128 / 30%));
      padding: 8px 0;
    }

    @media (width < $to-mobile-width) {
      width: 100%;
    }
  }

  &_subitem {
    padding: 8px 10px;

    @media (width >= $to-tablet-width) {
      &:not(:last-child) {
        border-bottom: 1px solid var(--light-grey);
      }
    }

    @media (width < $to-tablet-width) {
      border-top: 1px solid var(--light-grey);
      border-bottom: none;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &_btn {
    position: relative;
    text-align: left;
    width: 100%;
    padding-right: 26px;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      right: 0;
      width: 22px;
      height: 22px;
      mask-image: url("/assets/icon/mark.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 14px 7.5px;
      background-color: var(--text-medium);
      transform: scaleY(-1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.open::after {
      transform: scaleY(1);
    }

    &:hover::after {
      background-color: var(--accent-orange);
    }

    @media (width < $to-tablet-width) {
      margin-bottom: 8px;
    }
  }
}

.toggle_btn {
  position: relative;
  display: none;
  width: 28px;
  height: 28px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    width: 20px;
    height: 2px;
    z-index: 10;
    background-color: var(--text-dark);
    border-radius: 2px;
    transition: all 500ms ease;
  }

  &::before {
    top: 9px;
  }

  &.open::before {
    top: 13px; /* Центр кнопки */
    transform: rotate(45deg);
  }

  &::after {
    top: 17px; /* Средняя полоса */
  }

  &.open::after {
    top: 13px; /* Центр кнопки */
    transform: rotate(-45deg);
  }

  @media (width < $to-tablet-width) {
    display: block;
  }

  & > .line {
    display: block;
    position: absolute;
    right: 0;
    top: 25px; /* Нижняя полоса */
    width: 14px;
    height: 2px;
    z-index: 10;
    background-color: var(--text-dark);
    border-radius: 2px;
    transition: all 300ms ease;
  }

  &.open > .line {
    width: 0;
  }
}

.no-scroll {
  overflow: hidden;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: scaleY(0);
    height: 0;
  }

  50% {
    height: 50%;
  }

  100% {
    opacity: 1;
    transform: scaleY(100%);
    height: 100%;
  }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: scaleY(100%);
    height: 100%;
  }

  50% {
    height: 50%;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    height: 0;
  }
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out-scale {
  0% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  99% {
    opacity: 0;
    transform: scale(0.9);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
  }
}
