@use "../base/variables" as *;

.history {
  &_conteiner {
    width: calc(100% - 204px);
    height: 325px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("/assets/images/right.svg");
    background-size: contain;
    background-repeat: no-repeat;

    @media (width < $desctop-width) {
      width: 100%;
    }

    @media (width < $to-tablet-width) {
      height: 270px;
      background-size: 286px 270px;
      background-position: left;
    }

    @media (width < $to-mobile-width) {
      width: 100%;
      height: calc(100% + 270px);
      justify-content: center;
      background-image: url("/assets/images/bottom.svg");
      background-size: 286px 286px;
      background-position: bottom;
    }
  }

  &_text {
    width: 60%;

    & > * {
      padding-bottom: 16px;
    }

    @media (width < $desctop-width) {
      width: calc(100% - 370px);
    }

    @media (width < $to-tablet-width) {
      width: calc(100% - 286px - 20px);
    }

    @media (width < $to-mobile-width) {
      width: 100%;
      max-width: 450px;
      padding-bottom: 300px;
    }
  }
}
