@use "../base/variables" as *;

.marquee {
  --text-width: 1550px;
  --speed: 15s;

  @media (width < $to-mobile-width) {
    --text-width: 1300px;
  }

  &_container {
    width: 100%;
    overflow: hidden;
    position: relative;

    // @media (width < $to-mobile-width) {
    //   width: 100dvw;
    // }

    // Маски для создания эффекта прозрачности только по краям
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      width: 350px;
      height: 100%;
      z-index: 2;
      pointer-events: none;

      @media (width < $to-mobile-width) {
        width: 120px;
      }
    }

    &::before {
      left: 0;
      background: linear-gradient(
        to left,
        rgba(245, 245, 247, 0) 0%,
        // Прозрачный на самом краю
        rgba(245, 245, 247, 0) 70%,
        // Прозрачный до 70%
        rgba(245, 245, 247, 0.8) 85%,
        // Начинает появляться
        rgba(245, 245, 247, 1) 100% // Полностью видимый
      );
    }

    &::after {
      right: 0;
      background: linear-gradient(
        to right,
        rgba(245, 245, 247, 0) 0%,
        // Прозрачный на самом краю
        rgba(245, 245, 247, 0) 70%,
        // Прозрачный до 70%
        rgba(245, 245, 247, 0.8) 85%,
        // Начинает появляться
        rgba(245, 245, 247, 1) 100% // Полностью видимый
      );
    }
  }

  &_content {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    width: fit-content;
    animation: marquee var(--speed) linear infinite;

    // Гарантируем, что ширина трека будет минимум 2 * ширина текста
    min-width: calc(var(--text-width) * 2);
  }

  &_group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: var(--text-width); // Первая группа точно 1500px
    flex-shrink: 0;
  }

  &_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &_count {
    font-size: 40px;
    font-family: var(--body-font);
    font-weight: 600;
    background-image: var(--liner-orange-light);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Для совместимости */

    @media (width < $to-mobile-width) {
      font-size: 32px;
    }
  }
}

/* Анимация бегущей строки */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--text-width))); // Сдвигаем на 1500px
  }
}
