@use "../base/variables" as *;

.mentor {
  &_conteiner {
    display: flex;
    flex-flow: row wrap;
    place-content: stretch space-between;
    align-items: stretch;
    gap: 24px;

    @media (width < $to-tablet-width) {
      gap: 20px;
    }

    & > .card {
      width: calc((100% - 24px) / 2);
      box-shadow: none;

      @media (width < $to-tablet-width) {
        width: calc((100% - 20px) / 2);
      }

      @media (width < $to-mobile-width) {
        width: 100%;
      }
    }
  }
}
