.next-step {
  &_conteiner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;

    & > .card {
      width: calc((100% - 24px) / 2);
    }
  }
}
