@use "../base/variables" as *;

.result {
  &_conteiner {
    width: 100%;
  }

  &_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: stretch flex-start;
    align-items: stretch;
  }

  &_item {
    width: 100%;
    min-height: 124px;
    padding-bottom: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--light-grey);
    }

    &:not(:first-child) {
      padding-top: 32px;
    }

    @media (width < $to-tablet-width) {
      min-height: auto;
      padding-bottom: 16px;
    }
  }

  &_title {
    padding-bottom: 16px;

    &--was {
      color: var(--text-light);
    }

    &--made {
      color: var(--text-medium);
    }

    &--res {
      color: var(--accent-orange);
    }

    @media (width < $to-tablet-width) {
      padding-bottom: 8px;
    }
  }

  &_desk--3 {
    min-height: 63px;
  }

  &_numbers {
    padding-top: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    justify-content: center;

    @media (width < $to-tablet-width) {
      gap: 0;
    }

    @media (width < $to-mobile-width) {
      flex-flow: row-reverse wrap;
      gap: 32px;
    }
  }

  &_number-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      @media (width < $to-mobile-width) {
        order: 3;
      }
    }

    @media (width < $to-mobile-width) {
      flex: 1;
    }
  }

  &_number-count {
    padding-bottom: 8px;
    font-size: 60px;
    font-weight: 600;
    background-image: var(--liner-blue-2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    @media (width < $to-tablet-width) {
      font-size: 52px;
    }
  }

  &_number-desk {
    white-space: nowrap;

    @media (width < $to-tablet-width) {
      font-size: 16px;
    }

    @media (width < $to-mobile-width) {
      font-size: 14px;
    }
  }
}
