@use "../base/variables" as *;

.reviews {
  &_conteiner {
    width: 100%;
  }

  &_card {
    width: 486px;

    @media (width < $to-tablet-width) {
      width: 469px;
    }

    @media (width < 748px) {
      width: 343px;
    }
  }

  & .marquee_content {
    --text-width: 2016px;
    --speed: 25s;

    white-space: unset;

    @media (width < 748px) {
      --text-width: 1444px;
      --speed: 35s;
    }
  }

  &_text {
    padding-bottom: 32px;
    color: var(--text-medium);

    @media (width < $to-tablet-width) {
      font-size: 16px;
      padding-bottom: 24px;
    }
  }

  &_title {
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-dark);
  }

  &_subtitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-medium);

    @media (width < $to-tablet-width) {
      font-size: 14px;
    }
  }
}
