@use "../base/variables" as *;

.social {
  &_list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;

    @media (width < $to-tablet-width) {
      gap: 8px;
    }
  }

  &_link {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    box-shadow: var(--for-icon);
    background-repeat: no-repeat;
    background-position: center;

    @media (width < $to-tablet-width) {
      height: 40px;
      width: 40px;
      border-radius: 12px;
      background-size: 24px 24px;
    }

    &:hover {
      box-shadow: 0 4px 20px 0 rgba($color: #ff5c00, $alpha: 50%);
    }

    &[href^="https://t.me"] {
      background-image: url("/assets/icon/tg.svg");
    }
    &[href^="https://set.ki"] {
      background-image: url("/assets/icon/setki.svg");
    }

    &[href*="long"] {
      background-size: 39px 39px;
      background-image: url("/assets/icon/r-l.svg");
    }
  }

  &_logo {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 60px;
    height: 60px;
  }
}
