@use "../base/variables" as *;

.swiper {
  &-slide {
    height: auto !important;
    margin-bottom: 60px;

    @media (width < $to-tablet-width) {
      margin-bottom: 22px;
    }
  }

  &-navigation {
    margin-bottom: 32px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @media (width < $to-mobile-width) {
      margin-bottom: 16px;
      gap: 16px;
    }
  }

  &-btn {
    &-prev {
      transform: rotate(180deg);
    }

    &-prev,
    &-next {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border: 1px solid transparent;
      background: transparent;

      @media (width < $to-mobile-width) {
        width: 32px;
        height: 32px;
        border-radius: 16px;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        width: 48px;
        height: 48px;
        mask-image: url("/assets/icon/arrow.svg");
        background-color: var(--text-dark);
        mask-position: center;
        mask-size: 20px 14px;
        mask-repeat: no-repeat;

        @media (width < $to-mobile-width) {
          width: 32px;
          height: 32px;
          border-radius: 16px;
          mask-size: 13.36px 9.32px;
        }
      }

      &:not(.swiper-button-disabled):hover {
        border: 1px solid var(--accent-orange);

        &::before {
          background-color: var(--accent-orange);
        }
      }

      &.swiper-button-disabled::before {
        background-color: var(--text-light);
      }
    }
  }
}
