@use "../base/variables" as *;

.tarif {
  &_conteiner {
    display: flex;
    flex-direction: row;
    place-content: stretch space-between;
    gap: 24px;

    @media (width < $minidesc-width) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 400;
    color: var(--text-dark);
    background: #fff;
    border-radius: 12px;

    @media (width < $minidesc-width) {
      width: calc((100% - 24px) / 2);
      max-width: 430px;
      min-width: 300px;
      padding: 24px;
      font-size: 16px;
    }

    @media (width < $mobile-width) {
      width: 100%;
    }

    &:first-child {
      background: linear-gradient(
        90deg,
        rgba($color: #ff5c00, $alpha: 10%) 0%,
        rgba($color: #ff8a3d, $alpha: 10%) 100%
      );
    }

    &:hover {
      box-shadow: 0 4px 20px 0 rgba($color: #ff5c00, $alpha: 50%);
    }
  }

  &_title {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 600;

    @media (width < $minidesc-width) {
      font-size: 24px;
    }
  }

  &_subtitle {
    margin-bottom: 16px;
    font-size: 18px;

    @media (width < $minidesc-width) {
      font-size: 16px;
    }
  }

  &_field {
    margin-bottom: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;

    @media (width < $minidesc-width) {
      font-size: 14px;
    }

    &:last-of-type {
      margin-top: auto;
      padding-top: 26px;

      @media (width < $minidesc-width) {
        padding-top: 64px;
      }
    }

    &--margin {
      margin-bottom: 24px;
    }
  }

  &_value--orange {
    color: var(--accent-orange);
  }

  &_value--cost {
    font-size: 24px;
    font-weight: 600;

    @media (width < $minidesc-width) {
      font-size: 24px;
    }
  }

  &_desk {
    margin-bottom: 24px;
    font-size: 16px;
    color: var(--text-medium);

    @media (width < $minidesc-width) {
      font-size: 14px;
    }
  }

  &_list {
    padding: 24px 0 7px 30px;
    margin-bottom: auto;
    border-top: 1px solid var(--light-grey);
    list-style-image: url("/assets/icon/list-check.svg");
  }

  &_item {
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 21px;

    @media (width < $to-tablet-width) {
      // padding-bottom: 16px;
    }
  }
}
