@use "../base/variables" as *;

.task {
  &_conteiner {
    padding: 0 102px 60px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;

    @media (width < $minidesc-width) {
      padding: 0;
      padding-bottom: 60px;
    }

    @media (width < $to-tablet-width) {
      padding-bottom: 40px;
    }
  }

  &_desk {
    position: relative;
    padding-right: 80px;
    min-height: 48px;
    display: flex;
    align-items: center;

    @media (width < $to-tablet-width) {
      font-size: 14px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: calc(50% - 24px);
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    &::before {
      border: 2px solid transparent;
    }

    &::after {
      mask-image: url("/assets/icon/arrow.svg");
      background-color: var(--text-dark);
      mask-position: center;
      mask-size: 20px 14px;
      mask-repeat: no-repeat;
    }
  }

  &_card {
    width: calc((100% - 24px) / 2);
    display: flex;
    flex-direction: column;

    &:hover .task_desk::before {
      border-color: var(--accent-orange);
    }

    &:hover .task_desk::after {
      background-color: var(--accent-orange);
    }
  }

  &_img {
    align-self: center;

    @media (width < $to-tablet-width) {
      width: 160px;
      height: 160px;
    }
  }

  &_title {
    padding: 32px 0 8px;
    font-size: 32px;
    font-weight: 600;
    color: var(--text-dark);

    @media (width < $to-tablet-width) {
      padding-top: 24px;
      font-size: 20px;
    }
  }
}
