@use "../base/variables" as *;

.whom {
  &_conteiner {
    width: 100%;
    background-color: #fff;
    box-shadow: var(--card-inset);
    display: flex;
    flex-flow: row nowrap;
    padding: 32px 0;
    border-radius: 12px;

    @media (width < $to-tablet-width) {
      padding: 24px 0;
    }

    @media (width < $to-mobile-width) {
      max-width: 500px;
      padding: 0 24px;
      flex-direction: column;
    }
  }

  &_column {
    width: calc(100% / 2);
    padding: 0 32px;

    &:first-child {
      border-right: 2px solid var(--light-grey);

      @media (width < $to-mobile-width) {
        padding-bottom: 16px;
        border-right: none;
        border-bottom: 1px solid var(--light-grey);
      }
    }

    // &:last-child {
    //   padding-left: 64px;

    //   @media (width < $to-tablet-width) {
    //     padding-left: 24px;
    //   }
    //   @media (width < $to-mobile-width) {
    //     padding-left: auto;
    //   }
    // }

    @media (width < $to-tablet-width) {
      padding: 0 24px;
    }

    @media (width < $to-mobile-width) {
      width: 100%;
      padding: 24px 0;
    }
  }

  &_title {
    padding-bottom: 32px;

    @media (width < $to-tablet-width) {
      padding-bottom: 24px;
    }
  }

  &_list {
    list-style: none;
  }

  &_item {
    position: relative;
    margin-bottom: 16px; /* Spacing between list items */
    padding-left: calc(8px + 14px);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 7px); /* Adjust vertical positioning */
      width: 14px; /* Set circle size */
      height: 14px; /* Set circle size */
      border-radius: 50%; /* Make it a circle */

      /* Apply the gradient background and make it a circle */
      background: var(--liner-orange-light-icon); /* Example gradient */
      color: transparent; /* Hide the content character itself */

      /* Positioning adjustment (optional) */
      margin-right: 0.5em;

      /* Further styling might be needed for perfect alignment/sizing across all browsers */
    }

    &--blue::before {
      background: var(--liner-blue);
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (width < $to-tablet-width) {
      font-size: 16px;
    }
  }
}
