@use "../mixins/index" as *;
@use "../base/variables" as *;

.btn_conteiner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;

  // @media (width < $to-tablet-width) {
  //   padding-bottom: 16px;
  //   gap: 8px;
  // }

  // @media (width < $to-mobile-width) {
  //   flex-direction: column;
  // }

  @media (width < 775px) {
    flex-wrap: wrap;
    gap: 16px;
  }
}

.btn {
  position: relative;
  padding: 18px 32px;
  min-width: 274px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  color: var(--white);
  border: 1px solid transparent;
  transition: all 300ms;
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }

  @media (width < $to-mobile-width) {
    padding: 16px 20px;
    min-width: auto;
    width: 100%;
  }

  // background-color: #1a3c80;

  &::before {
    transition: all 300ms;
  }

  &--primary {
    background: var(--accent-orange);

    &:hover {
      box-shadow: 0 4px 20px 0 rgba($color: #ff5c00, $alpha: 50%);
    }
  }

  &--secondary {
    background: transparent;
    color: var(--blue-400);
    border: 1px solid var(--blue-400);

    &::before {
      background-color: var(--blue-400);
    }

    &:hover {
      color: var(--blue-600);
      border: 1px solid var(--blue-600);

      &::before {
        background-color: var(--blue-600);
      }
    }
  }

  &--tg {
    position: relative;
    padding-left: calc(24px + 8px + 32px);

    @media (width < $to-mobile-width) {
      padding-left: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 24px / 2);
      left: 32px;
      width: 24px;
      height: 24px;
      mask-image: url("/assets/icon/tg.svg");
      mask-repeat: no-repeat;
      mask-size: 20px 17px;
      mask-position: center;

      @media (width < $to-mobile-width) {
        left: calc(50% - 110px);
      }
    }

    // &:hover::before {
    //   background-color: var(--white);
    // }
  }

  &--arrow {
    position: relative;
    padding-right: calc(24px + 8px + 32px);

    @media (width < $to-mobile-width) {
      padding-right: 52px;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 24px / 2);
      right: 71px;
      width: 24px;
      height: 24px;
      mask-image: url("/assets/icon/arrow.svg");
      mask-repeat: no-repeat;
      mask-size: 20px 12px;
      mask-position: center;

      @media (width < $to-mobile-width) {
        right: calc(50% - 70px);
      }
    }
  }

  &--text {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--accent-orange);
    font-size: 18px;

    &::before {
      background-color: var(--accent-orange);
    }

    &:hover {
      border-color: var(--liner-orange-light-icon);

      &::before {
        background-color: var(--accent-orange);
      }
    }
  }

  &--tarif {
    width: 100%;
    padding: 14px 32px;
    background-color: transparent;
    border: 1px solid var(--accent-orange);
    color: var(--accent-orange);

    &:hover {
      background-color: var(--accent-orange);
      color: var(--white);
    }
  }
}
