@use "../base/variables" as *;

.card {
  padding: 32px;
  background-color: var(--white);

  &_imgage {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    border: 1px solid black;
  }
}
