.link-nav {
  font-family: var(--body-text);
  font-size: 16px;
  font-weight: 400px;
  color: var(--text-medium);

  &:hover,
  &:focus {
    color: var(--accent-orange);
  }
}

.link-text {
  color: var(--blue-500);

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
