<footer class="footer section" role="contentinfo">
  <div class="section_wrapper footer_wrapper">
    <div class="footer_logo-conteiner">
      <a href="./">
        <img
          class="footer_logo"
          src="/assets/logo.svg"
          alt="Логотип Рим Айбулатов"
          width="241px"
          height="25px"
        >
      </a>
      <p class="footer_desc">
        Помогаю специалистам войти и&nbsp;вырасти в&nbsp;IT-менеджменте через упаковку реального
        опыта
      </p>
    </div>
    <nav class="footer_nav footer_navigation" aria-label="Дополнительная навигация по разделам">
      <h3 class="footer_title">Навигация</h3>
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link link-nav" href="./">Главная</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="./#tarif">Тарифы</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="./#case">Кейсы</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="./#approach">О подходе</a>
        </li>
      </ul>
    </nav>
    <nav class="footer_nav footer_more" aria-label="Ссылки для подробной информации">
      <h3 class="footer_title">Узнать больше</h3>
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link link-nav" href="./#reviews">Отзывы</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="/#">Посты</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="/#">Лонгриды</a>
        </li>
      </ul>
    </nav>
    <nav class="footer_nav footer_projects" aria-label="Ссылки на дргугие проекты">
      <h3 class="footer_title">Другие проекты</h3>
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link link-nav" href="./books">Книги</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="./skorogovorovich">Скороговорович</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="./nasobes">На Собес.РФ</a>
        </li>
      </ul>
    </nav>
    <nav class="footer_nav footer_pravo" aria-label="Правовая информация">
      <h3 class="footer_title">Правовая информация</h3>
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link link-nav" href="./privacy-policy.html"
            >Политика конфиденциальности</a
          >
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="./data-processing.html"
            >Согласие на обработку персональных данных</a
          >
        </li>
        <li class="footer_item">
          <a class="footer_link link-nav" href="./cookie-policy.html"
            >Политика использования cookies</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer_social" aria-label="Ссылки на соц.сети">
      <ul class="social_list">
        <li class="social_item">
          <a class="social_link" href="https://t.me"></a>
        </li>
        <li class="social_item">
          <a class="social_link" href="https://set.ki"></a>
        </li>
        <li class="social_item">
          <a class="social_link" href="/#long"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
