<header class="header" role="banner">
  <a href="./">
    <img
      class="header_logo"
      src="/assets/logo.svg"
      alt="Логотип Рим Айбулатов"
      width="241px"
      height="25px"
    >
  </a>
  <nav class="header_nav" aria-label="Основная навигация сайта">
    <ul id="menu" class="header_list">
      <li class="header_item">
        <a class="header_link link-nav" href="./#tarif">Тарифы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-nav" href="./#case">Кейсы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-nav" href="./#reviews">Отзывы</a>
      </li>
      <li class="header_item">
        <button
          id="projects-btn"
          class="header_link link-nav header_btn"
          aria-label="Открыть меню с проектами"
          aria-controls="projects-menu"
          aria-expanded="false"
          title="Меню проекты"
        >
          Проекты
        </button>
        <ul id="projects-menu" class="header_sublist">
          <li class="header_item header_subitem">
            <a class="header_link header_link--icon link-nav" href="./books">Книги</a>
          </li>
          <li class="header_item header_subitem">
            <a class="header_link header_link--icon link-nav" href="./skorogovorovich"
              >Скороговорович</a
            >
          </li>
          <li class="header_item header_subitem">
            <a class="header_link header_link--icon link-nav" href="./nasobes">На Собес.РФ</a>
          </li>
        </ul>
      </li>
      <li class="header_item">
        <a class="header_link link-nav" href="./#questions">Вопросы</a>
      </li>
    </ul>
    <button
      type="button"
      id="toggle"
      class="toggle_btn"
      aria-label="Открыть меню"
      aria-controls="menu"
      aria-expanded="false"
      title="Меню"
    >
      <span class="line"></span>
    </button>
  </nav>
</header>
