<header class="header" role="banner">
  <a href="/">
    <img
      class="header_logo"
      src="/assets/logo-rim-aybulatov.svg"
      alt="Логотип Рим Айбулатов"
      width="241px"
      height="25px"
    >
  </a>
  <nav class="header_nav" aria-label="Основная навигация сайта">
    <ul id="menu" class="header_list">
      <li class="header_item">
        <a class="header_link link-nav" href="/#tarif">Тарифы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-nav" href="/#case">Кейсы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-nav" href="/#reviews">Отзывы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-nav" href="/#projects">Проекты</a>
        <ul class="header_sublist">
          <li class="header_item header_subitem">
            <a class="header_link link-nav modal-trigger" data-content="contacts">Книги</a>
          </li>
          <li class="header_item header_subitem">
            <a class="header_link link-nav modal-trigger" data-content="contacts">Скороговорович</a>
          </li>
          <li class="header_item header_subitem">
            <a class="header_link link-nav modal-trigger" data-content="nasobes">На Собес.РФ</a>
          </li>
        </ul>
      </li>
      <li class="header_item">
        <a class="header_link link-nav" href="/#questions">Вопросы</a>
      </li>
    </ul>
  </nav>
  <button
    type="button"
    id="toggle"
    class="toggle_btn"
    aria-label="Открыть меню"
    aria-controls="menu"
    aria-expanded="false"
    title="Меню"
  >
    <span class="line"></span>
  </button>
</header>
